.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav >
.active > a:hover,
.navbar-inverse
.navbar-nav >
.active > a:focus,
.tool-box .box-gear,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active
{
    background-color: #c34cd7;
}
.about h1 span,
 .footer .fa-copyright span,
 .footer h3,
 .team .person i:hover,
 .testimonial span {
     color: #c34cd7;
 }
.tool-box .color {
     border: 4px solid #c34cd7;
}
.navbar-nav > li > .dropdown-menu {
    border-top: 3px solid #c34cd7;
}
.feature h1,
.price h1 {
    border-bottom: 3px solid #c34cd7;
}
.testimonial .carousel-indicators .active {
    border: 3px solid #c34cd7;
}
.price .part-price:hover p {
    border: 2px solid #c34cd7;
}
